.nav-projects, .card-header, .nav-nuevo, .nav-editar{
	display: flex;
	justify-content: flex-start;
}

.nav-projects *:not(.fas){
	margin-right: 20px;
	margin-left: 20px;
}
.fas{
	margin-right: 5px;
}

.card{
	margin-top: 20px;
}

.card-title{
	padding-top: 10px;
}

.dropdown{
	margin-top: 5px;
}

img{
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}


.nav-nuevo h5, .nav-editar h5{
	margin-left: 0; 
	padding-top: 5px;
}

.nav-nuevo *:not(.fas), .nav-editar *:not(.fas){
	margin-left: 10px;
}

.Nuevo form .btn, .Editar form .btn{
	margin-top: 20px;
}